<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>943247849750-8or9ujcbt1bhra6hgdfpaatdee4k3acv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.943247849750-8or9ujcbt1bhra6hgdfpaatdee4k3acv</string>
	<key>API_KEY</key>
	<string>AIzaSyD8ad3lh2C-3b-E1hXjJHa_3-_kY9Vm2lI</string>
	<key>GCM_SENDER_ID</key>
	<string>943247849750</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>rv.reactjs.native.mobile.Arcon</string>
	<key>PROJECT_ID</key>
	<string>arcon-df898</string>
	<key>STORAGE_BUCKET</key>
	<string>arcon-df898.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:943247849750:ios:8296a85254403b6343f837</string>
	<key>DATABASE_URL</key>
	<string>https://arcon-df898.firebaseio.com</string>
</dict>
</plist>